{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 2],
    "no-unused-vars": 0,
    "no-use-before-define": 0,
    "quotes": ["error", "double"],
    "semi": 1
  }
}
